<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 1386}}</string>
		<string>{{266, 0}, {1619, 1386}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>33EBEA23-C714-4876-A68B-3627D04976EB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4DD3F2E2-DAE6-49C6-BEC8-9D54D71BE20A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>586A01E9-D2C0-4070-9FFA-C20951C5E734</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6067625F-A5BF-41CC-9F16-6C360637CA72</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F21B05F-D3BE-4C68-9F36-FD42898220BB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A711EB71-036A-4F52-A103-80FA05606F1F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B01BA852-6AB5-4977-A92C-FCB6523BF115</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C7F74932-3ED2-429D-9C5C-8A428FC37B64</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E13F83C6-E9BA-4736-9F27-EFDA79D254F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1373, 1356}}</string>
		<string>{{1374, 0}, {245, 1356}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{-369, 1766}, {1358, 1300}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>199 721 1885 1414 0 0 3840 2135 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
